<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="side-navbar" mode="side">
      <app-side-navbar></app-side-navbar>
  </mat-drawer>
  <div class="main">
    <app-tool-bar></app-tool-bar>

    <!-- search-bar
    <mat-form-field class="search-bar-container">
      <mat-icon class="search-icon" matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search for user..." #input>
    </mat-form-field>
    -->

    <div class="grid-container">
      <h1 class="mat-h1">Dashboard</h1>
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>
                <ngx-charts-area-chart-normalized
                  [view]="[700,400]"
                  [scheme]="colorScheme"
                  [legend]="legend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxis]="xAxis"
                  [yAxis]="yAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [timeline]="timeline"
                  [results]="multi"
                  (select)="onSelect($event)">
                </ngx-charts-area-chart-normalized>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
   
    
    <div class="floating-action" matTooltip="Menu">
      <button mat-fab class="menu-btn" aria-label="menu-icon-button" type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  </div>
</mat-drawer-container>
