<ul class="nav-content">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboardLandingPage" routerLinkActive="active" ariaCurrentWhenActive="page">
                <span data-feather="home"></span>
                <i class="uil uil-th-large"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users-table" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span data-feather="file"></span>
              <i class="uil uil-users-alt"></i>
              Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboardDisplayProjectsComponent" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span data-feather="shopping-cart"></span>
              <i class="uil uil-suitcase"></i>
              Projects
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboardDisplayCreateProjectsComponent" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span data-feather="users"></span>
              <i class="uil uil-plus-square"></i>
              Create Project
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboardDisplayTicketsComponent" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span data-feather="bar-chart-2"></span>
              <i class="uil uil-ticket"></i>
              Tickets
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/active-scenes" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span data-feather="layers"></span>
              <i class="uil uil-picture"></i>
              Active Scene
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/score-scene" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span data-feather="layers"></span>
              <i class="uil uil-analytics"></i>
              Score Reports
            </a>
        </li>
        <li class="nav-item logout-content">
            <a class="nav-link logout" href="#" routerLink="/splash" routerLinkActive="active" ariaCurrentWhenActive="page">
              <span data-feather="layers"></span>
              <i class="uil uil-signout"></i>
              Logout
            </a>
        </li>
</ul>

